<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">
    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img
          src="{{ site.author.image }}"
          alt="{{ site.title }}"
          class="circle-image wow animated zoomIn"
          data-wow-delay=".1s"
        />
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">
      {{ site.description }}
    </p>
  </div>
  <br />
  <br />
  <iframe
    width="1366"
    height="768"
    src="https://www.youtube.com/embed/Ss1BGpx0FE4?autoplay=1"
    autoplay="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    frameborder="0"
    allowfullscreen
  ></iframe>
</div>
